@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.card {
    display: flex;
    height: 500px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.posterHome {
    width: 400px;
    height: 500px;
    display: flex;
}

.contentHome {
    padding-left: 20px;
}
